%p{:id => "”alert”"}= alert
%h1 Login
= form_tag login_path do |form|
  %div{:class => "”field”"}
    = label_tag :user_name
    = text_field_tag :user_name
  %div{:class => "”field”"}
    = label_tag :password
    = password_field_tag :password
    %div{:class => "”field”"}
    = label_tag :password_confirmation
    = password_field_tag :password_confirmation
  %div{:class => "”actions”"}
    = submit_tag "Login"
