%h1 Listing articles
%table
	%tr
		%th ID
		%th User
		%th Title
		%th Text
		%th
		%th
		%th
		- @articles.each do |article|
			%tr
				%td= article.id
				%td= article.user.user_name
				%td= article.title
				%td= article.text
				%td= link_to 'Show', article_path(article)
				-if article.user.id == current_user&.id
					%td= link_to 'Edit', edit_article_path(article)
					%td= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }

-if current_user&.id
	%p= link_to 'New Article', new_article_path()
