%p
	%strong ID:
	= @article.id
%p
	%strong User:
	= @article.user.user_name
%p
	%strong Title:
	= @article.title
%p
	%strong Text:
	= @article.text

%table
	%tr
	%th ID
	%th User
	%th Comment
	%th
	- @article.comments.each do |comment|
		%tr
			%td= comment.id
			%td= comment.user.user_name
			%td= comment.body
			-if comment.user.id == current_user&.id
				%td= link_to 'Delete Comment', [comment.article, comment],
														method: :delete, data: { confirm: 'Are you sure?' }
-if current_user&.id
	%h2 Add a comment:
	= form_with(model: [ @article, @article.comments.build ], local: true) do |form|
		%p
			= form.label :body
			%br/
			= form.text_area :body
		%p
			= form.submit

-if @article.user.id == current_user&.id
	%p= link_to 'Edit', edit_article_path(@article)
%p= link_to 'Back', articles_path()
