= form_with(model: @user, local: true) do |form|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited
        this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %p
    = form.label :user_name
    %br/
    = form.text_field :user_name
  %p
    = form.label :email_address
    %br/
    = form.text_field :email_address
  %p
    = form.label :password
    %br/
    = form.text_area :password
  %p
    = form.label :password_confirmation
    %br/
    = form.text_area :password_confirmation
  %p
    = form.submit
