!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SimpleBlog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if current_user
      Logged in as #{current_user.user_name}.
      \#{link_to "Log Out", logout_path}
    - else
      = link_to "Sign Up", signup_path
      or
      =link_to "Log In", login_path

    = yield
